name: 'Run typedoc and publish to pages'

on:
  workflow_call:
    secrets:
      BOT_SK:
        required: true
      BOT_ID:
        required: true

  workflow_dispatch:

jobs:
  build-and-publish-docs:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x

      - name: Npm install
        run: npm ci --ignore-scripts

      - name: Genearate bot token for deployment
        uses: actions/create-github-app-token@v1
        id: app_token
        with:
          app_id: ${{secrets.BOT_ID}}
          private_key: ${{secrets.BOT_SK}}

      - name: Build doc
        run: npm run generate:code-docs

      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs/_html

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
        with:
          token: ${{ steps.app_token.outputs.token }}
