name: Publish

on:
  push:
    branches:
      - main
      - release
  workflow_dispatch:

concurrency: release

jobs:
  ci:
    name: Continuous Integration
    uses: makerxstudio/shared-config/.github/workflows/node-ci.yml@main
    with:
      node-version: 20.x
      run-commit-lint: true
      pre-test-script: |
        pipx install algokit
        algokit localnet start
        npx --yes wait-on tcp:4001 -t 30000
      audit-script: |
        npm run audit

  check_docs:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: Check docs are up to date
        shell: bash
        run: |
          npm ci --ignore-scripts
          npm run generate:code-docs
          # Add untracked files as empty so they come up in diff
          git add -N .
          # Print changed files and error out if there are changes after generating docs
          git diff --exit-code --name-only

  build:
    name: Build
    uses: makerxstudio/shared-config/.github/workflows/node-build-zip.yml@main
    needs:
      - ci
      - check_docs
    with:
      node-version: 20.x
      build-path: dist
      artifact-name: package

  publish-docs:
    name: Publish docs
    needs: release
    if: github.ref_name == 'release'
    uses: ./.github/workflows/gh-pages.yml
    permissions:
      contents: read
      pages: write
      id-token: write
